.places-card__link {
  grid-area: link;
  align-self: end;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  position: relative;
}

.places-card__link::before {
  content: 'URL';
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  position: absolute;
  left: 0;
  bottom: 34px;
}

@media screen
and (max-width: 352px) {
  .places-card__link {
    box-sizing: border-box;
    padding: 0 16px;
  }
  .places-card__link::before {
    box-sizing: border-box;
    padding: 0 16px;
  }
}