.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1050px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 976px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 676px) {
  .places {
    max-width: 320px;
  }
}