.places {
  width: calc(100% - 96px);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .places {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 367px) {
  .places {
    width: 100%;
  }
}