.header__title-wrapper {
  width: 100%;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen 
and (max-width: 1080px) {
  .header__title-wrapper {
    max-width: 928px;
  }
}

@media screen 
and (max-width: 984px) {
  .header__title-wrapper {
    max-width: 768px;
  }