.places-card__url {
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin-bottom: 12px;
  text-transform: uppercase;
  
}

@media screen and (max-width: 352px) {
  .places-card__url {
    box-sizing: border-box;
    padding: 0 16px;
  }
}