.places-card__pic {
  grid-area: pic;
  object-fit: cover;
  width: 100%;
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .places-card__pic {
    max-width: 440px;
  }
}

@media screen and (max-width: 766px) {
  .places-card__pic {
    max-width: 340px;
  }
}